.heading{
    color:#161D6F;
}

.subButton{
    background-color: transparent;
    color: aliceblue;
    border-color: #fa58b6;
    transition: 250ms;
}

.subButton:hover{
    background-color: #fa58b6;
}

.subButtonDark{
    background-color: transparent;
    color: #161D6F;
    border-color: #161D6F;
    transition: 250ms;
}

.subButtonDark:hover{
    background-color: #161D6F;
}

.tw{
    color: white;
}

.td{
    color: #161D6F;
}

.tagsAndType{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.selectOps{
    border: 2px solid #161D6F;
    border-radius: 20px;
}

.selectOpsContainer{
    margin-left: 10px;
    width: 30%;
    height: auto;
}

.titleInput{
    width: 70%;
    border: 2px solid #161D6F;
    border-radius: 50px;
}

.contentInput{
    border: 2px solid #161D6F;
    border-radius: 20px;
}

.tags{
    border: 2px solid #161D6F;
    border-radius: 20px;
}

.tags input{
    border-radius: 10px;
}