* {
  transition: 200ms ease;
}

.blomo_text_light {
  color: #513252 !important;
}

.blomo_text_dark {
  color: #ffc18e !important;
}

.blomo_border_light {
  border-color: #513252 !important;
}

.blomo_border_dark {
  border-color: #ffc18e !important;
}

.blomo_bg_dark {
  background-color: #513252 !important;
}

.blomo_bg_light {
  background-color: #ffc18e !important;
}
