@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap");

.create {
  transition: 300ms;
  border: none;
  background-color: #161d6f;
  height: 60px;
  width: 60px;
  left: 5vw;
  top: 85vh;
  position: fixed;
  padding: 10px;
  border-radius: 100%;
  font-size: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogCardContainer {
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  text-decoration: none;
  min-height: 50vh;
}

.categories {
  margin: 30px 0;
  display: flex;
  column-gap: 2vh;
  justify-content: center;
}

.categories button {
  transition: 250ms;
  border-radius: 20px;
  padding: 5px;
  border-style: solid;
  margin: 10px;
  background-color: transparent;
}

.categoriesDark button {
  transition: 250ms;
  border-radius: 20px;
  padding: 5px;
  border-style: solid;
  margin: 10px;
  border-color: #161d6f;
}

.categoriesDark button:hover {
  transform: scale(1.1);
  background-color: #161d6f;
  color: white;
}

.navSubmit {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50px;
  border-style: solid;
  transition: 200ms;
}

.navSubmit:hover {
  transform: rotate(90deg);
}

.navSubmit:active {
  box-shadow: none;
  transform: translateY(5px);
}

.ml_auto {
  display: flex;
  margin-left: auto;
  justify-content: center;
}

.searchInput {
  padding: 10px;
  width: 600px;
  border-radius: 50px !important;
  border: 2px solid #1f4690;
  background-color: transparent;
}

a:hover {
  color: aliceblue;
}

.capitalise {
  text-transform: capitalize;
}

.goIcon {
  font-size: 40px;
}

/* .rightAlign {
  margin-left: auto;
} */

@keyframes smoothOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: 500ms smoothOpacity;
}

.Link {
  color: #161d6f;
}

.Link:hover {
  color: #161d6f;
}

@media only screen and (max-width: 600px) {
  .top {
    left: 70px;
    grid-template-columns: auto;
    row-gap: 50px;
  }

  .blogCardContainer {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 100px !important;
  }

  .searchDiv {
    margin: auto;
  }

  .categories,
  .categoriesDark {
    display: block;
  }

  .categories button,
  .categoriesDark button {
    margin: 5px;
  }

  .brand {
    font-size: 4vh;
    margin-right: 0;
  }

  .searchInput,
  .searchInputDark {
    width: 70%;
  }

  .ml_auto {
    margin-top: 20px;
  }

  .create {
    left: 5vw;
    top: 90vh;
  }
}
