@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.tw{
  color: white !important;
}

.td{
  color: #161D6F !important;
}

.brand {
  margin-right: 100px;
  text-decoration: none !important;
  color: aliceblue;
  font-family: 'Fredoka One', cursive;
  font-size: 6vh;
}

.themeChange {
  background-color: transparent;
  border: none;
  border-radius: 100%;
  height: 80px;
  width: 80px;
  color: white;
}

.icon{
  height: 2em;
  width: 2em;;
}
